*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
h1{
    padding: 0 1rem;
}
body{
    background-color: #f6f8fc;
}
.content{
padding: 1rem;
margin: 0;
background-color: #fff;
height: 100hv;
}

